<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="contact-form">
    <div class="container">
        <div class="contact-heading">
            <h1>Register as Customer</h1>
        </div>
        <form id="contact" [formGroup]="addForm">
            <fieldset>
                <label for="name">Name*</label>
                <input placeholder="Your name" formControlName="name" type="text" required autofocus>
                <span *ngIf="addForm.controls['name'].invalid && addForm.controls['name'].touched" class="text-danger">Required</span>
            </fieldset>
            <fieldset>
                <label for="email">Email*</label>
                <input placeholder="Your Email Address" formControlName="email" type="email" required>
                <span *ngIf="addForm.controls['email'].invalid && addForm.controls['email'].touched" class="text-danger">Required</span>
                
            </fieldset>
            <fieldset>
                <label for="password">Password*</label>
                <input placeholder="Password" type="text" formControlName="password" required>
                <span *ngIf="addForm.controls['password'].invalid && addForm.controls['password'].touched" class="text-danger">Required</span>
            </fieldset>
           
            <fieldset>
                <label for="contact">Contact*</label>
                <input placeholder="Contact" type="text" formControlName="contact" required>
                <span *ngIf="addForm.controls['contact'].invalid && addForm.controls['contact'].touched" class="text-danger">Required</span>
            </fieldset>
           
            <fieldset>
                <label for="idProof_image">Id Proof*</label>
                <input placeholder="Id Proof" type="file" (change)="uploadimage($event)" required>
                <span *ngIf="addForm.controls['idProof_image'].invalid && addForm.controls['idProof_image'].touched" class="text-danger">Required</span>
            </fieldset>
           
            <fieldset>
                <button [disabled]="addForm.invalid" type="button" class="btn btn-warning" (click)="submit()" >Submit</button>
            </fieldset>
        </form>

    </div>

</section>
