<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="blog_wrapper">

    <div class="container">
        <div class="heading-top">
            <h1>View Customers</h1>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4" *ngFor="let hirer of data">
                <div class="sidebar">
                    <div class="widget">
                        <ul>
                            <li><a><strong>Name </strong> {{ hirer.name }} </a></li>
                            <li><a><strong>Email </strong> {{ hirer.email }} </a></li>
                            <li><a><strong>Contact </strong> {{ hirer.contact }} </a></li>
                            <li><a [href]="getimagepath(hirer.idProof_image)" target="_blank"><strong>View Proof </strong>  </a></li>
                            <li><a><strong>User Status </strong>
                                <span *ngIf="hirer.userStatus==1" class="text-info">Pending</span>
                                <span *ngIf="hirer.userStatus==2" class="text-success">Accepted</span>
                                <span *ngIf="hirer.userStatus==3" class="text-danger">Rejected</span>
                            </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <!--Sidebar End Here-->

        </div>
    </div>
    <div class="clearfix"></div>
</section>
