<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<section class="blog">
    <div class="container">
        <div class="banner-heading">
            <h2>
                View Bicycles
            </h2>
            <div class="col-md-12">
                <div class="col-md-4 margin-top"   *ngFor="let bike of data">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <img class="img-responsive" [src]="getimagepath(bike.image)" alt="" />
                                <div class="img-border"></div>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    {{ bike.bikeType }} <br>
                                    {{ bike.pricePerHour | currency:'INR' }}
                                </p>
                                <p class="blog-textual-cont">
                                    {{bike.description}}
                                </p>
                                <!-- <a class="read-more" >Read More</a> -->
                                <a [routerLink]="['/layout/make-booking',bike._id]" class="btn btn-danger mb-4" *ngIf="istoken && userType==3">Make Booking</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>