<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="blog_wrapper">
    <div class="container">
        <div class="heading-top">
            <h1>View Request</h1>
        </div>
        <div class="container table-responsive"> 
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of data;let i=index">
                        <td>{{ i+1 }}</td>
                        <td> {{ contact.name }} </td>
                        <td> {{ contact.email }} </td>
                        <td> {{ contact.subject }} </td>
                        <td> {{ contact.message }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
</section>