<section class="header">
    <div class="container-fluid">
        <div class="banner-content">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <h1>Be <span>Faster</span></h1>
                    <p>Live Life to the Fullest</p>
                </div>
                <div class="item">
                    <h1>Be <span>Faster</span></h1>
                    <p>Live Life to the Fullest</p>

                </div>
                <div class="item">
                    <h1>Be <span>Faster</span></h1>
                    <p>Live Life to the Fullest</p>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="banner-heading">
            <h2>About us</h2>
            <p class="font-16">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="about-image">
                    <img src="../../assets/assets/images/about-1.jpg" alt="" />
                </div>
                <div class="about-inner-content">
                    <img src="" alt="" />
                    <p>
                        Mountain Biking Trips
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-image">
                    <img src="../../assets/assets/images/about-2.jpg" alt="" />
                </div>
                <div class="about-inner-content">
                    <img src="" alt="" />
                    <p>
                        Mountain Biking Trips
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-image">
                    <img src="../../assets/assets/images/about-3.jpg" alt="" />
                </div>
                <div class="about-inner-content">
                    <img src="" alt="" />
                    <p>
                        Adventure
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="video">
    <div class="container">
        <div class="play-video">
            <a id="video" href="https://www.youtube.com/watch?v=Q6dsRpVyyWs"><img src="../../assets/assets/images/play.png" alt="" /></a>               
            <p>
                Watch the Trail Video
            </p>
        </div>
    </div>
</section>

<section class="trails">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">

                <div class="accordion1">
                    <div class="banner-heading">
                        <h2>Trails</h2>
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Section 1
                                            </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class='panel-pic'>
                                        <p>
                                            Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Section 2
                                                </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class='panel-pic'>
                                            <p>
                                                Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Section 3
                                                    </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class='panel-pic'>
                                                <p>
                                                    Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                                        Section 4
                                                        </a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <div class='panel-pic'>
                                                <p>
                                                    Dolor sit amet, consectetur adipiscing elit. Aliquam vitae fringilla augue. Maecenas in lectus lorem. In et accumsan mi. Aenean vestibulum nisl eu arcu viverra iaculis. In hac habitasse platea dictumst. In vehicula diam et mauris imperdiet aliquet.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trail-img">
                    <img src="../../assets/assets/images/trail.jpg" alt="" />
                </div>
            </div>


        </div>
    </div>





</section>

<section class="gallery">
    <div class="container">
        <div class="banner-heading">
            <h2>
                Gallery
            </h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery2.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery3.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery4.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image-2">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery5.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image-2">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery6.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image-2">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>
                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery7.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="content-div text-center">
                        <div class="gallery-image-2">
                            <div class="gallery-overlay">
                                <a href="#"> <i class="fa fa-link" aria-hidden="true"></i></a>

                            </div>
                            <img class="img-responsive" src="../../assets/assets/images/gallery8.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog">
    <div class="container">
        <div class="banner-heading">
            <h2>
                Our Blog
            </h2>
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <img class="img-responsive" src="../../assets/assets/images/blog1.jpg" alt="" />
                                <div class="img-border"></div>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    Lorem ipsum dolor sit
                                </p>
                                <p class="blog-textual-cont">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                                <a class="read-more" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <img class="img-responsive" src="../../assets/assets/images/blog2.jpg" alt="" />
                                <div class="img-border"></div>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    Lorem ipsum dolor sit
                                </p>
                                <p class="blog-textual-cont">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                                <a class="read-more" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="content-div text-center">
                        <div class="blog-inner">
                            <div class="blog-img">
                                <img class="img-responsive" src="../../assets/assets/images/blog3.jpg" alt="" />
                                <div class="img-border"></div>
                            </div>
                            <div class="blog-text">
                                <p class="blog-heading">
                                    Lorem ipsum dolor sit
                                </p>
                                <p class="blog-textual-cont">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                                <a class="read-more" href="single-post.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="challenge">
    <div class="container">
        <div class="heading">
            <h2>
                If its doesn’ t <span>Challange</span> you It Doesn’t <span>Change</span> you
            </h2>
        </div>
        <div class="challenge-text">
            <p class="font-16">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
            </p>
        </div>
        <form>
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Enter Your Email Address" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Free Trial</button>
                </div>
            </div>
        </form>
    </div>
</section>
<!--SECTION PARTNER STARTS-->
<section class="partners">
    <div class="container">
        <div class="partner-images">
            <img class="img-responsive" src="../../assets/assets/images/partners-1.jpg" alt="" />
            <img class="img-responsive" src="../../assets/assets/images/partners-2.jpg" alt="" />
            <img class="img-responsive" src="../../assets/assets/images/partners-3.jpg" alt="" />
            <img class="img-responsive" src="../../assets/assets/images/partners-4.jpg" alt="" />
            <img class="img-responsive" src="../../assets/assets/images/partners-5.jpg" alt="" />
        </div>
    </div>
</section>
<!--SECTION PARTNER ENDS-->
