<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="contact-form">
    <div class="container">
        <div class="contact-heading">
            <a routerLink="/admin/admin-view-bicycle" class="btn btn-danger" style="float:right;" *ngIf="usertype==1">Manage Bicycle</a>
            <a routerLink="/layout/renter-view-bicycle" class="btn btn-danger" style="float:right;" *ngIf="usertype==2">Manage Bicycle</a>
            <h1>Add Bicycle</h1>
        </div>
        <form id="contact" [formGroup]="addForm">
            <fieldset>
                <label for="bikeType">Bike Type*</label>
                <input placeholder="Bike Type" formControlName="bikeType" type="text" required autofocus>
                <span *ngIf="addForm.controls['bikeType'].invalid && addForm.controls['bikeType'].touched" class="text-danger">Required</span>
            </fieldset>
            <fieldset>
                <label for="bicycle_image">Image*</label>
                <input  type="file" (change)="uploadimage($event)"  required>
            </fieldset>
            <fieldset>
                <label for="pricePerHour">Price* <small>(per hour)</small></label>
                <input placeholder="Price Per Hour" type="text" formControlName="pricePerHour" required>
                <span *ngIf="addForm.controls['pricePerHour'].invalid && addForm.controls['pricePerHour'].touched" class="text-danger">Required</span>
            </fieldset>
            <fieldset>
                <label for="location">Location*</label>
                <input placeholder="Location" type="text" formControlName="location" required>
                <span *ngIf="addForm.controls['location'].invalid && addForm.controls['location'].touched" class="text-danger">Required</span>
            </fieldset>
            <fieldset>
                <label for="description">Description*</label>
                <textarea placeholder="Type description here...." formControlName="description" required></textarea>
                <span *ngIf="addForm.controls['description'].invalid && addForm.controls['description'].touched" class="text-danger">Required</span>
            </fieldset>
            <fieldset>
                <button [disabled]="addForm.invalid" type="button" class="btn btn-warning" (click)="submit()" >Submit</button>
               
            </fieldset>
        </form>

    </div>

</section>
