<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<section class="contact-form">
    <div class="container">
        <div class="contact-heading">
            <h1>Admin Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-center">{{ totalBicycleRequests }}</h3>
                  <h4 class="card-text text-center">Total Bicycle Requests</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-center">{{ totalCustomers }}</h3>
                  <h4 class="card-text text-center">Total Customers</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-center">{{ totalProducts }}</h3>
                  <h4 class="card-text text-center">Total Bicycles</h4>
                </div>
              </div>
            </div>
        </div>
    </div>

</section>
