<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="footer-content">
                        <div class="footer-logo">
                            <img src="../../../assets/assets/images/footer-logo.png" alt="" />
                        </div>
                        <div class="footer-text">
                            <p>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
                            </p>
                        </div>
                        <div class="footer-address">
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> king Street, Huntavilla, Ontario Canada
                                </li>

                                <li>
                                    <i class="fa fa-phone" aria-hidden="true"></i> +(000)-865-5842

                                </li>
                                <li>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> demo@gmail.com

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-content">
                        <div class="news">
                            <p>
                                Newsletter Subscribe
                            </p>
                        </div>
                        <div class="subscribe">
                            <form>
                                <div class="input-group">
                                    <input type="email" class="form-control" size="50" placeholder="Enter E-mail" required>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-danger">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>

                                   FACEBOOK</a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>

                                   TWITTER</a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i>

                               LINKEDIN</a></li>
                            </ul>
                        </div>
                        <p class="copyright">
                            Copyright 2018. Designed by NavThemes | Distributed by <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

