<section class="header" id="header">
    <div class="navbar-option">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" routerLink="/layout/home"><img src="../../../assets/assets/images/logo.png" alt="" /></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-left" *ngIf="istoken">
                        <li><a routerLink="/admin/admin-dashboard">Dashboard</a></li>
                        <li><a routerLink="/admin/admin-viewrenter">Shop Keeper</a></li>
                        <li><a routerLink="/admin/admin-viewhirer">Users</a></li>
                        <li><a routerLink="/admin/admin-view-bicycle">Bicycle</a></li>
                        <li><a routerLink="/admin/admin-view-request">View Request</a></li>
                        <li><a routerLink="/admin/admin-view-contact">Contact</a></li>
                         <li><a (click)="logout()">Logout</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left" *ngIf="!istoken">
                        <li><a routerLink="/layout/home">Home</a></li>
                        <li><a routerLink="/layout/user-view-bicycle">View Bicycle</a></li>
                        <li><a routerLink="/layout/renter-register">Renter Register</a></li>
                        <li><a routerLink="/layout/renter-login">Renter Login</a></li>
                        <li><a routerLink="/layout/user-register">User Register</a></li>
                        <li><a routerLink="/layout/user-login">User Login</a></li>
                        <li><a routerLink="/layout/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</section>
